<h2>Users</h2>
<!-- botão com manipulação de atributos -->
<button [disabled]="!enableAdd" class="btn btn-light btn-block mb-3" [ngClass]="currentClasses">Add New User</button>
<!-- o "?" significa que está ok se a variavel não existir -->
<ul class="list-unstyled" *ngIf=" loaded && users?.length > 0">
    <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-ligth]="user.isActive"
        [style.border-color]="user.isActive ? 'green' : ''">
        <div class="row">
            <div class="col-sm-4">
                <!-- Modo 1/3 de property bind -->
                <!-- <img *ngIf="user.image" class="img-fluid" [src]="user.image" alt=""> -->
                <!-- Modo 2/3 de property bind -->
                <img *ngIf="user.image" class="img-fluid" src={{user.image}} alt="">
                <!-- Modo 3/3 de property bind -->
                <!-- <img *ngIf="user.image" class="img-fluid" bind-src="user.image" alt=""> -->
            </div>
            <div class="col-sm-8">
                <h3 [ngStyle]="currentStyles">{{ user.firstName}} {{ user.lastName}}</h3>
                <ul class="lit-group" *ngIf="showExtended && user.age && user.address">
                    <li class="list-group-item">Age {{ user.age }}</li>
                    <li class="list-group-item">Address: {{ user.address.street}} {{ user.address.city}},
                        {{ user.address.state}}
                    </li>
                    <!-- <li class="list-group-item">Balance: {{user.balance | currency:"GBP":"symbol"}} until {{.5 | percent}} -->
                    </li>
                    <li class="list-group-item">Joined: {{user.registered | date:"mm/dd/yyyy"}}</li>
                    <!-- <li class="list-group-item" ngNonBindable>{{5 | number:"1.2"}}</li> -->
                </ul>
            </div>
        </div>
    </li>
</ul>

<!-- <ng-template #noUsers>No users found</ng-template> -->

<h4 *ngIf="users?.length == 0">No users found</h4>

<h4 *ngIf="!loaded">Loading Users...</h4>